.header {
    padding: 2em 0 1em 0;
}

.table {
    height: 354px;
}

.avatar-column {
    width: 11%;
}

.user-column {
    width: 9%;
}

.post-count-column {
    width: 10%;
    text-align: right;
}